.login-container {
    box-shadow: var(--shadow);
    height: 20rem;
    width: 30rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.header-text {
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.login-control {
    text-align: center;
}

.btn-container {
    text-align: center;
}

.login-btn {
    margin-top: 40px;
    padding: 5px;
    width: 20%;
    border: none;
}

.login-btn:hover {
    background-color: var(--purple);
}

.login-span {
    text-align: center;
    padding: 12px;
}